<div class="row">
  <div class="col-md-7">
    <h3 class="m-3">Listado de usuarios</h3>
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>...</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usuarios">
          <input
            type="hidden"
            name="id"
            [(ngModel)]="userService.datosUsuario.id"
          />
          <td>
            <img
              src="{{ u.avatar }}"
              alt="{{ u.first_name }} avatar"
              width="100px"
            />
          </td>
          <td>{{ u.first_name }}</td>
          <td>{{ u.last_name }}</td>
          <td>
            <button
              class="btn btn-sm btn-outline-primary me-2"
              (click)="update(u)"
            >
              Editar
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="delete(u.id)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5 px-3">
    <h3 class="m-3">Nuevos usuarios</h3>
    <form #miForm="ngForm" (ngSubmit)="create(miForm)">
      <div class="mb-5">
        <label class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          name="name"
          [(ngModel)]="userService.datosUsuario.name"
          required
          minlength="4"
          #name="ngModel"
        />
        <div *ngIf="name.errors?.['minlength']" class="col-auto">
            <span class="form-text text-danger ">
                Debe tener al menos 4 caracteres
            </span>
        </div>
        <div *ngIf="name.errors?.['required']" class="col-auto">
            <span class="form-text">
                *El dato es obligatorio
            </span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Trabajo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Trabajo"
          name="job"
          [(ngModel)]="userService.datosUsuario.job"
        />
      </div>
      <button type="submit" class="btn btn-success me-3"[disabled]="!miForm.valid" >Guardar</button>
      <button class="btn btn-outline-warning" (click)="resetForm(miForm)">Limpiar</button>
    </form>
    <div *ngIf="mensaje"  class="alert alert-success mt-2 " role="alert">
        {{mensaje}} 
        <button type="button" class="btn-close"  ></button>
    </div>
  </div>
</div>
