<div>
    <h2>Carga tu video de YouTube</h2>
    <form (ngSubmit)="submitForm(formulario)" #formulario="ngForm">
        <label for="url">URL: </label>
            <input type="text" name="url" [(ngModel)]="urlModel" required>

        <label for="category">Categoria: </label>
            <input type="text" name="category" [(ngModel)]="categoryModel" required>

        <label for="title">Titulo: </label>
            <input type="text" name="title" [(ngModel)]="titleModel" required>

        <label for="description">Descripcion: </label>
            <textarea type="text" name="description" [(ngModel)]="descriptionModel"></textarea>

        <label for="views">Vistas: </label>
            <input type="number" name="views" [(ngModel)]="viewsModel" required>

        <label for="likes">Me Gusta: </label>
            <input type="number" name="likes" [(ngModel)]="likesModel" required>

        <label for="dislikes">No Me Gusta: </label>
            <input type="number" name="dislikes" [(ngModel)]="dislikesModel" required>

        <button type="submit">Cargar Video</button>

    </form>
        <h2>Videos cargados:</h2>
        <ul>
            <li *ngFor="let video of videos; let i = index">
              <a href="javascript:void(0);" (click)="showIframe(i)">Titulo: {{ video.title }}</a>
              <div *ngIf="showVideo && selectedIndex === i">
                <iframe width="560" height="315" [src]="video.url | safeUrl" frameborder="0"></iframe>
              </div>
              /Categoria: {{ video.category }} /Descripcion: {{ video.description }} /Vistas: {{ video.views }} /Me gusta: {{ video.likes }} /No Me Gusta: {{ video.dislikes }}
            </li>
          </ul>

</div>
<!-- 
    los botones de mg 
    filtrar por categoria
    filtrar por titulo
    eliminar video
    cada vez que se ingrese al detalle para reproducir, se deberá sumar una vista nueva
    lo de las estrellitas pedorras
 -->