<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100" >
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" routerLink="">

      <span class="fs-4">Proyectos Angular</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a class="nav-link text-white" routerLink="to-do-list">
          
            Proyecto ToDo List
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="simpsons">
          
          Proyecto Simpsons
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink='rickandmorty-list'>
          
          Rick And Morty
        </a>
      </li>
    </ul>
    <hr>
  </div>