<!-- 
<div class="container">
    <div class="row">
        <div class="col"*ngFor = "let p of characters.results" >
                        <img src="{{p.image}}" alt="{{p.name}}"> <h3> {{ p.name }}</h3> <p> {{p.species}} </p> <p>{{p.gender}}</p> <button class="btn btn-success ">Saber más...</button>
                    </div>            
            </div>
        </div>

 -->
<div class="container">
    <div class="row">

        <div class="card m-3 " style="width: 18rem;" *ngFor = "let p of characters.results" >
            <img class="card-img-top" src="{{p.image}}" alt="Card of {{p.name}}">
            <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p>{{p.gender}}</p>
                <p class="card-text">{{p.species}}</p>
                <a href="#" class="btn btn-primary" routerLink="rickandmorty-details">Detalles</a>
            </div>
        </div>
    </div>
</div>