.container{
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
}
.flex-child{
    background-color: #fff999;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 140px;
}